body{
   background-color: #000000;
   justify-content: center;
   align-items: center;
   display: flex;
}
*{
    margin: 0;
    padding: 0;
}
.container{
 display: flex;
 flex-direction: column;
   background-color: #543087;
   width: 900px;
 height: 500px;
 border-radius: 30px;
}

img{
border-radius: 50%;
    width: 100px;
 height: 100px;   
border: solid #c5b3e2;
box-shadow: 0 20px 30px rgba(0,0,0,0.3);
}

.Caixa{
    display: flex;
    background-color: rgb(64, 21, 104);
    border-color: #e2b3e0;
    border:  solid 3px;
    color: #d3b3e2;
    width: 900px;
    height: 600px;
justify-content: center;
align-items: center;
flex-direction: column;
text-decoration: none;
border-radius: 30px;
}
.Caixa .dentro{

    display: flex;
    width: 400px;
    height: 225px;
} 
.Caixa .dentro ul{
    display: flex;
    list-style: none;
 flex-direction: column;
}

input{
    margin-top: 20px;
    font-size: large;
    width: 400px;
    height: 50px;
    border-radius: 10px;
color: #000000;
}
input:hover{
    background-color: #cbb3e2;
    color: black;
     border-end-end-radius: 20px;
      box-shadow: 0 10px 10px #d3b3e2;
}


button{
    margin-top: 10px;
  margin-bottom: 5px;
    width: 350px;
    height: 50px;
 font-size: large;
    border-radius: 20px;
    cursor: pointer;
    background-color: #4e3f91;
    color: #ffffff;
}

button:hover{
    background-color: #bcb3e2;
    color: #2c2341;
}

ul li{
    margin-top: 20px;
}

p b {
font-size: x-large;
}

@media (max-width:600px){
    .container{
        flex-direction: column;
        height: auto;
        width: 100%;
    }
 
     .Caixa{
        display: flex;
        width: 100%;
        height: 100%;
        border-radius: 20px;
    justify-content: center;
    align-items: center;
    }
    .dentro{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img{
        width: 100px;
        height: 100px;
    border-radius: 50%;
    }
    button{
        width: 100px;
        height: 50px;
     font-size: medium;
        border-radius: 20px;
        cursor: pointer;
    }

    input{
    font-size: medium;
    width: 299px;
    height: 40px;
    border-radius: 8px;

}
input:hover{
    background-color: #b5b3e2;
    color: rgb(255, 255, 255);
        border-radius: 5px;
border-end-end-radius: 20px;
}

p b {
    font-size: x-large;
    }
}


